@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #001927;
  --me: #d1ffd1;
  --main: #98fefd;
  --bgText: #367179;
  --font: "Montserrat";
  --borderColor: #12404d;
  --secondary: #eaad1c;
  --topbarText: #59a0a6;
  --topbarMsgBg: #0c2e3b;
  --formAndButtonSize: 405px;
  --contentSidePadding: 355px;
}

body {
  color: white;
  font-size: 13px;
  min-height: 100dvh;
  position: relative;
  background-size: cover;
  font-family: var(--font);
  /* background: var(--bg); */
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-image: url(https://roatpkz.com/data/images/banner-main.jpg);
  /* background-image: linear-gradient(180deg, var(--bg), var(--bg) 100%), url(https://roatpkz.com/data/images/banner-main.jpg); */
}

/* Utility Classes */
.flexRow {
  display: flex;
  grid-gap: 15px;
  align-items: center;
  justify-content: space-between;
}

.justifyCenter {
  justify-content: center;
}

.flexBox {
  display: flex;
  grid-gap: 15px;
  align-items: center;
  justify-content: center;
}

.emphasisFont {
  font-weight: 700;
  font-size: 20px;
}

.textStyle {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.textStyle:hover {
  font-weight: 700;
  background: none;
  border: none;
  color: white;
  text-shadow: black 2px 2px 5px;
}

.hidden {
  display: none !important;
}

.flexColumn {
  flex-direction: column !important;
}

.menuListItem::before {
  top: -10px;
  width: 1px;
  content: "";
  height: 45px;
  margin-top: 70px;
  position: absolute;
  margin-left: -20px;
  background: #7a878f;
}

.menuListItem:first-child::before {
  display: none;
}

.fontColorMain {
  font-weight: 700;
  color: var(--main);
}

header {
  width: 100%;
  max-height: 125px;
  background-size: cover;
  background-position: top;
  backdrop-filter: blur(3px);
  background-repeat: no-repeat;
  border-bottom: 1px solid var(--borderColor);
  background: linear-gradient(
    180deg,
    rgba(0, 25, 39, 0.55),
    rgba(9, 38, 53, 0.55)
  );
  /* background-image: url(https://roatpkz.com/data/images/header-bg-new.png); */
}

/* .headerContainer {
    width: 60%;
    margin: 0 auto;
} */

.topbar {
  min-height: 40px;
  border-bottom: 1px solid var(--borderColor);
  padding: 0 var(--contentSidePadding);
}

.navbar {
  padding: 0 var(--contentSidePadding);
}

.titleBox {
  opacity: 100%;
  text-align: center;
  background: -webkit-linear-gradient(transparent, transparent);
}

.titleText {
  font-weight: 900;
  font-size: 4.5rem;
  text-align: center;
  letter-spacing: 4px;
  display: inline-block;
  text-transform: uppercase;
  text-shadow: black 2px 2px 8px;
}

.adventureText {
  font-size: 6rem;
  font-weight: 900;
  padding-top: 20px;
  text-align: center;
  letter-spacing: 4px;
  display: inline-block;
  text-transform: uppercase;
  text-shadow: black 2px 2px 8px;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 90px calc(var(--contentSidePadding) + -8px);
}

.subtitleText {
  display: flex;
  color: white;
  flex-wrap: wrap;
  font-weight: 600;
  font-size: 1.3rem;
  justify-content: center;
  padding: 45px 18px 45px 18px;
  text-shadow: black 2px 2px 6px;
}

.playNowButton {
  margin: 0;
  width: 100%;
  color: white;
  cursor: pointer;
  font-weight: 750;
  max-width: var(--formAndButtonSize);
  font-size: 55px;
  padding: 30px 50px;
  justify-content: center;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background: url(https://roatpkz.com/data/images/button-1.png);
  border: 0;
  background-size: 100%;
}

.playNowButton:hover {
  transform: scale(1.03);
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
  box-shadow: #00191e 0px 0px 12px 3px;
}

.scrollDownTextBox {
  display: flex;
  color: white;
  flex-wrap: wrap;
  font-weight: 300;
  font-size: medium;
  padding-bottom: 20%;
  justify-content: center;
  text-shadow: black 2px 2px 3px;
}

.scrollDownText {
  cursor: pointer;
  padding: 5px 5px;
}

.websiteNewsContainer {
  display: flex;
  grid-gap: 15px;
  align-items: center;
  justify-content: center;
}

#newsSectionTitle {
  padding: 5px;
  font-size: xx-large;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-shadow: 2px 2px 8px black;
}

.newsTitleContainer {
  margin: 5px;
  border: black solid;
}
.informationSectionContainer{
  padding: 5.625rem 0;
  background-color: #001927;
}

.newsBox {
  display: flex;
  flex-wrap: wrap;
  margin-left: 15%;
  margin-right: 15%;
  border-radius: 10px;
  align-items: center;
  border: black solid;
  justify-content: center;
}

.statusesContainer {
  display: flex;
  grid-gap: 15px;
  flex-wrap: wrap;
  list-style: none;
  flex-direction: column;
  margin: 15px 15% 0 15%;
}

.statusesContainer .status {
  padding: 35px;
  color: black;
  min-width: 225px;
  border-radius: 5px;
  background: white;
}

.statusesContainer .status.me {
  background: var(--me);
}

.statusesContainer .status .lastUpdated {
  float: right;
}

.statusesContainer .status .userStatus {
  overflow-y: auto;
  max-height: 150px;
  overflow-x: hidden;
}

.dropdownButton {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 5px 0px 5px;
  background-color: transparent;
  border-color: #ffffff transparent transparent transparent;
}

.registerDropDownButton {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 5px 0px 5px;
  background-color: transparent;
  border-color: #ffffff transparent transparent transparent;
}

.flippingDropdownButton {
  transform: rotate(180deg);
  transition: transform 400ms ease;
}

.dropdownButton:hover {
  cursor: pointer;
}

.registerDropDownButton:hover {
  cursor: pointer;
}

.dropdownCol {
  cursor: pointer;
  position: relative;
}

.boxBorder {
  border-radius: 20px;
  padding: 1px;
  border: solid 1px;
  text-align: center;
  margin: 0px;
}

#textInsideContainer {
  padding: 5px;
}

.playerInfoToInsertToList {
  text-align: center;
}

.statusCheckContainer {
  grid-template-columns: repeat(2, 145px);
  grid-gap: 10px;
  display: grid;
  justify-content: center;
  padding: 60px 135px 20px;
}
.editProfileContainer {
  justify-content: center;
  padding: 60px 135px 20px;
}

.playerStatusList {
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  display: flex;
}

.editProfileBtn {
  background: none;
  border: none;
  color: white;
  text-decoration: none;
}


.dropdown-content {
  left: 50%;
  opacity: 0;
  width: 132px;
  padding: 13px;
  flex-wrap: wrap;
  position: absolute;
  border-radius: 5px;
  pointer-events: none;
  /* pointer-events: none; */
  background-color: #091c25;
  justify-content: space-evenly;
  box-shadow: 0 7px 15px black;
  transform: translate(-50%, 60%);
}

.dropdown-content.expanded {
  opacity: 90%;
  pointer-events: all;
}

/*  PROBELM WITH DROP DOWNS AFTER CREATING TITLE TEXT CSS DROP DOWNS MISSALIGNED WHEN THEY WERE PERFECT BEFORE (MANUALLY REALLIGNED FOR NOW */
/* .registerDropdown-content {
  margin-top: 5px;
  margin-left: -100px; */
/* } */

/* .dropdown:hover .dropdown-content {
    display: flex;
    transition: 0.35s ease-in-out;
  } */

.dropdown-content a {
  display: block;
  color: white;
  font-size: 15px;
  font-size: small;
  font-weight: 600;
  padding: 12px 16px;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.35s ease-in-out;
  border-bottom: 1px solid #0c3341;
}

.registerDropdown-content a {
  display: block;
  color: white;
  font-size: 15px;
  font-size: small;
  font-weight: 600;
  padding: 12px 16px;
  white-space: nowrap;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.35s ease-in-out;
  border-bottom: 1px solid #0c3341;
}

.rightSideDropdown {
  display: flex;
  grid-gap: 15px;
  align-items: center;
}

.dropdown-content a:hover {
  font-size: larger;
  box-shadow: 0 0 10px #1283c5;
  color: var(--secondary);
}

.registerDropdown-content a:hover {
  font-size: larger;
  color: var(--secondary);
  box-shadow: 0 0 10px #1283c5;
}

.menu {
  list-style: none;
  max-height: 85px;
}

.menuLink {
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.35s ease-in-out;
}

.menuLink:hover {
  color: var(--secondary);
}

.navbarLogo img {
  top: 20px;
  max-width: 12rem;
  position: relative;
}

form {
  display: flex;
  grid-gap: 15px;
  margin: 0 auto;
  padding-top: 50px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: var(--formAndButtonSize);
}

.topbarTimerMessage {
  display: flex;
  grid-gap: 3px;
  justify-content: space-between;
  align-items: center;
}

form input {
  padding: 15px;
  border-radius: 8px;
  border: 0;
  width: 95%;
  margin: 0 auto;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 90px calc(var(--contentSidePadding));
}

/* .sideLinks {
  display: flex;
  grid-gap: 5px;
  align-items: center;
  justify-content: center;
} */

/* Mobile Queries // Mobile Responsiveness */
/* Above 1366px typically considered desktop */
/* 1366px - 1093px is range for small laptops */
/* 1092px - 992px is range for tablets */
/* 768px - 678px is range for mobile */
@media (max-width: 992px) {
  :root {
    --contentSidePadding: 55px;
  }
  .hideThisOnMobile {
    display: none;
  }
  .navbar .menu {
    grid-gap: 0;
  }
  .menuListItem::before {
    display: none;
  }
}

@media (min-width: 768px) {
  .menuListItem {
    padding: 10px;
  }
}

@media (max-width: 767px) {
  /* Header Responsiveness */
  .navbar .menu {
    flex-direction: column;
  }

  .menuListItem {
    padding: 0 !important;
  }
}